body{
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}
.inner-page{

}
.navigation{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #f3f7f9;
  width: 100%;
  margin: 0 auto;
}
.container{
  width: 940px;
  margin: 0 auto;
  position: relative;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.top-nav{
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #293449;
}
.logo{
  position: absolute;
  width: 220px;
}
.logo a{
  display: block;
  height: 47px;
  background: url(../img/header-logo.png) 0 0 no-repeat;
}
.logo a:hover{
  background-position: 0 -47px;
}
.top-navigation{
  background-color: #293449;
}
.inner-page{
  color: ;
  background-color: ;
  background-position: center;
  background-repeat: no-repeat;
}
.main-nav{
  background-image: url(../img/site-navigation.png);
}
.popular{
  background-color: #f9f5f0;
}
h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
h3{
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
}
.tagline{
  font-size: 16px;
  color: rgb(238, 54, 67);
  font-style: italic;
  line-height: 23px;
  text-align: left;
}
.phone{
  font-size: 21px;
  color: rgb(238, 54, 67);
  line-height: 21px;
  font-family: "Cuprum";
}
.icon-phone{
  background-image: url(../img/icon-phone.svg);
}
.header-contacts{
  font-size: 14px;
  color: rgb(50, 66, 92);
  line-height: 24px;
  text-align: center;
}
.user-nav, .login-link{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-family: "Cuprum";
}
.feature-list{
  width: 300px;
  height: 125px;
}
.feature-materials{
  background: #ffbf47;
}
.feature-tools{
  background: #3bbce3;
}
.feature-technic{
  background: #dc91d8;
}
.feature-discount{
  background: #8ed78f;
}
.feature-delivery{
  background: #ffc047;
}
.feature-materials img{
  float: right;
}
.feature-name{
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  padding-left: 22px;
  padding-top: 27px;
}
.explanation{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  display: block;
  width: 135px;
  height: 40px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 22px;
  margin-left: 25px;
}
.perforators{
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}
.for-enjoy{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: none;
  text-align: left;
}
.open-catalog{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: baseline;
  display: block;
  width: 195px;
  height: 40px;
  border-radius: 4px;
  background-color: #ee3643;
}
.card{
  width: 220px;
  height: 320px;
  border: 1px solid #eaeaea;
}
/*как правильно задать ховер?*/
.card a:hover{

  display: block;
  width: 135px;
  height: 38px;
  border-radius: 4px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  box-shadow: 0 10px 25px;
}
.new-flag img{
  float: right;
}
.catalog-card{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  text-transform: none;
}
span{
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  display:
}
.all-man{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: baseline;
  display: block;
  width: 153px;
  height: 38px;
  border-radius: 4px;
  background-color: #ee3643;
}
.brands-card li{
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
}
.service h2{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.service-delivery{
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
}
.description p{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.service-list li{
  display: block;
  width: 217px;
  height: 63px;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  padding-left: 23px;
}
li.list-on {
  display: block;
  width: 217px;
  height: 58px;
  background-color: #ffffff;
  border: none;
  padding-left: 23px;
  padding-top: 5px;
}

h3.on{
  font-size: 21px;
  line-height: 30px;
  color: #32425c;
  text-align: left;
}
h3.off{
  font-size: 21px;
  line-height: 30px;

}

h2.about-us{
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}
.info-about{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
.about-us li{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.button-about{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 220px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #ee3643;
}
p.contacts {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}
/*не отображается*/
.button-map{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 300px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #ee3643;
}
.news{
  background-color: #f4f8fa;
}
.footer-menu{
  background-color: #32425c;
}
.main-footer-logo{
  width: 220px;
  display: block;
  height: 47px;
  background: url(../img/header-logo.png) 0 0 no-repeat;
}
.footer-navigation{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-contacts a{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.site-navigation a{
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}
.footer-contacts{
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
}
.footer-copyright{
  background-color: #293449;
}
.copyright{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}
.social-button{
  display: block;
  width: 41px;
  height: 41px;
  border-radius: 20px;
  background-color: #212a3a;
}
.footer-mail,
.footer-copyright{
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.button-footer{
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}



.write-us section{
  background-image: url(../img/write-us.png) no-repeat;
  width: 694px;
  height: 504px;
}
