body{
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 18px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}
a{
  text-decoration: none;
  text-transform: none;
}
h1{
  text-decoration: none;
  text-transform: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.top-nav-container{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-bottom: 60px;
}
.navigation{
  background-color: #f4f7f9;
  width: 100%;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.container{
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.main-header{
  margin-bottom: 60px;

  min-height: 320px;
}
.user-navigation a {
  text-decoration: none;
  color: #ffffff;
}
.container-user-nav{
  display: flex;
  flex-direction: row;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  width: 940px;
  margin: 0 auto;
  min-height: 42px;
  position: relative;
  background-color: #293449;
}
.user-navigation{
  display: flex;
  flex-direction: row;
  width: 720px;
  min-height: 42px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}
.user-navigation .look,
.user-navigation .bookmarks,
.user-navigation .shopping-cart{
  position: relative;
}
.bookmarks::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.bookmarks:hover::before,
.bookmarks:focus::before{
  opacity: 1;
}
.bookmarks:active::before{
  opacity: 0.5;
}
.shopping-cart::before{
  content: "";
  position: absolute;
  top: 12px;
  left: 28px;
  width: 15px;
  height: 16px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}
.shopping-cart:hover::before,
.shopping-cart:focus::before{
  opacity: 1;
}
.user-nav{
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-left: 220px;
}
.user-navigation a{
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.top-look{
  position: relative;
  display: flex;
}
.top-look input{
  /*display: block;
  position: absolute;*/
  left: 0px;
  width: 220px;
  height: 17px;
  margin: 0;
  padding: 12px 0 13px 50px;
  border: none;
  background: #293449 url(../img/icon-search.svg) no-repeat 17px 12px;
  background-size: 17px 17px;
  opacity: 0.3;
  color: #000000;
}

.top-look input:hover,
.top-look input:active{
  opacity: 1;
  background: #212a3a url(../img/icon-search.svg) no-repeat 17px 12px;
  background-size: 17px 17px;
  color: #212a3a;
}
.top-look input:focus{
  opacity: 1;
  background: #ffffff url(../img/icon-search-red.svg) no-repeat 17px 12px;
  background-size: 17px 17px;
  color: #000000;
}

.top-look label{
  position: absolute;
  padding-left: 50px;
  margin: 0;
  top: 12px;
  left: 0;
}
.top-look input[type=text]:active +label {
  color: #FFFFFF;
}
.top-look input[type=text]:focus +label {
  display: none;
}
.bookmarks a{
  width: 85px;
  padding-left: 45px;
  padding-right: 10px;
}
.shopping-cart a{
  width: 90px;
  padding-left: 60px;
  padding-right: 10px;
}
.order a{
  width: 108px;
  padding-left: 21px;
  padding-right: 21px;
  background-color: #63a63e;
}
.bookmarks a:hover,
.bookmarks a:focus,
.shopping-cart a:hover,
.shopping-cart a:focus{
background-color: #212a3a;
}
.bookmarks:active,
.shopping-cart:active{
  background-color: #161d29;
  opacity: 0.6;
}
.order a:hover,
.order a:focus{
background-color: #5fbb2d;
}
.order a:focus{
  background-color: #518534;
}
.look-input:hover{
  color: #ffffff;
  background-color: #212a3a;
}
.top-nav-container{
  margin-bottom: 60px;
  height: 42px;
  background-color: #293449;
}
.logo{
  position: absolute;
  width: 220px;
  height: 47px;
}
.logo a{
  display: block;
  height: 47px;
  padding: 0;
  margin: 0;
  background: url(../img/header-logo.png) 0 0 no-repeat;
}
.logo a:hover,
.logo a:focus,
.logo a:active{
  background-position: 0 -47px;
}
.top-navigation{
  background-color: #293449;
}
.inner-page{
  color: ;
  background-color: ;
  background-position: center;
  background-repeat: no-repeat;
}
.main-nav{
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  color: #ffffff;
}
.popular{
  background-color: #f9f5f0;
}
.user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 940px;
  height: 153px;
  margin: 0;
  padding: 0;
}
.tagline{
  display: flex;
  width: 210px;
  height: 70px;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: "Cuprum";
  font-size: 16px;
  color: rgb(238, 54, 67);
  font-style: italic;
  line-height: 23px;
  text-align: left;
  position: relative;
}
.contacts-header{
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 70px;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 3px;
  padding-right: 48px;
  list-style: none;
}
.phone{
  display: flex;
  font-family: "Cuprum";
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  padding-left: 73px;
  padding-right: 47px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin: 0;

  border: 2px solid #ffffff;
  width: 148px;
  min-height: 24px;
  position: relative;
}
.phone::before{
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.header-contacts{
  font-family: "Cuprum";
  font-size: 14px;
  color: rgb(50, 66, 92);
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
  margin: 0;
}
.user-link{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 300px;
  height: 160px;
  padding: 0;
  margin: 0;
  margin-right: -5px;
  position: relative;

}
.user-link, .login-link, .register-link{
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  font-family: "Cuprum";
  list-style: none;
  padding: 0;
  padding-top: 40px;
  margin: 0;
  justify-content: flex-end;
}
.login-link{
  display: flex;
  width: 55px;
  height: 22px;
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  margin-right: 10px;
  background-color: #ffffff;
  position: relative;
}
.login-link:hover,
.login-link:focus{
  color: #ee3643;
}
.login-link:active{
  opacity: 0.3;
}
.login-link::before{
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.login-link:hover::before,
.login-link:focus::before{
  background-image: url(../img/icon-login-hov.svg);
}
.login-link:active::before{
  background-image: url(../img/icon-login.svg);
}
.register-link{
  display: flex;
  width: 100px;
  height: 22px;
  padding-left: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 25px;
  margin:0;
  background-color: #ffffff;
}
.register-link:hover,
.register-link:focus{
  color: #ee3643;
}
.register-link:active{
  opacity: 0.3;
}
.main-nav{
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  min-height: 38px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  margin: 0;
  padding:0;
  justify-content: flex-start;
}
.site-navigation{
  display: flex;
  width: 940px;
  min-height: 19px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  text-align: center;
  z-index: 10;
}
.site-navigation a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding-top: 20px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}
.site-navigation a:hover{
  background: #293449;
}
.site-navigation a:active{
  background: #1d2739;
  color: #868c95;
  border: none;
}
.features{
  padding-top: 1px;
}
.features a,
.feature-list-2 a{
  text-decoration: none;
}
.feature-list{
  display: flex;
  width: 940px;
  flex-direction: row;
  text-decoration: none;
  margin-top: -2px;
  padding: 0;
  list-style: none;
  font-family: "Cuprum";
  position: relative;
  margin-bottom: 20px;
}
.feature-materials,
.feature-tools,
.feature-technic{
  width: 137px;
  height: 123px;
  color: #ffffff;
  display: flex;
  vertical-align: top;
  margin:0;
  padding: 0;
}
.feature-materials{
  margin: 0;
  margin-right: 20px;
  padding-top: 0;
  padding-left: 23px;
  padding-right: 140px;
  background-color: #ffbf47;
  position: relative;
}
.feature-tools{
  padding-top: 0;
  padding-left: 23px;
  padding-right: 140px;
  margin-right: 20px;
  position: relative;
  background-color: #3bbce3;
}
.feature-technic{
  padding-top: 0;
  padding-left: 23px;
  padding-right: 140px;
  position: relative;
  background-color: #dc91d8;
}

.feature-list h3,
.feature-list-2 h3{
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  margin-top: 20px;
}
.feature-materials p{
  display: block;
  width: 135px;
  height: 39px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top:
  position: relative;
  background-color: #000000;
  position: relative;

}
.feature-materials::after{
  position: absolute;
  content: "";
  top: 31px;
  left: 213px;
  width: 44px;
  height: 65px;
  background: url(../img/icon-materiams.svg) no-repeat 0 0;
}
.feature-materials::before{
  position: absolute;
  content: "";
  top: 0px;
  left: 240px;
  width: 60px;
  height: 60px;
  background: url(../img/new-flag.png) no-repeat 0 0;
}
.feature-tools::after{
  position: absolute;
  content: "";
  top: 33px;
  left: 197px;
  width: 75px;
  height: 61px;
  background: url(../img/icon-tools.svg) no-repeat 0 0;
}
.feature-technic::after{
  position: absolute;
  content: "";
  top: 31px;
  left: 191px;
  width: 78px;
  height: 62px;
  background: url(../img/icon-technics.svg) no-repeat 0 0;
}
.explanation{
  display: block;
  position: absolute;
  width: 135px;
  height: 29px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  float: left;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 62px;
  margin-left: 2px;
}
.explanation:hover,
.explanation:focus{
  background: rgba(0, 0, 0, 0.2);
}
.explanation:active{
  background: rgba(0, 0, 0, 0.3);
}

.slider-list{
  display: flex;
  width: 940px;
  min-height: 267px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.slider{
  display: flex;
  width: 620px;
  float: left;
  padding-right: 20px;
  margin: 0;
  position: relative;
}
.slider-content{
  padding: 0;
  margin: 0;
  position: relative;
  float: left;
}
.gallery-back{
  position: absolute;
  border: none;
  top: 115px;
  left: 25px;
  background: url(../img/icon-left.svg) no-repeat;
  rotation: 0;
  width: 27px;
  height: 42px;
  cursor: pointer;
}
.gallery-next{
  position: absolute;
  border: none;
  top: 115px;
  left: 578px;
  background: url(../img/icon-right.svg) no-repeat;
  rotation: 0;
  width: 27px;
  height: 42px;
  cursor: pointer;
}
.perforators-for h3{
  position: absolute;
  margin: 0;
  padding-top: 23px;
  padding-left: 23px;
  left: 0;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}
.perforators-for p{
  position: absolute;
  top: 40px;
  left: 23px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.feature-list-2{
  display: flex;
  width: 300px;
  height: 123px;
  float: right;
  flex-direction: column;
  text-decoration: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Cuprum";
  position: relative;
}
.feature-discount,
.feature-delivery{
  width: 137px;
  min-height: 123px;
  color: #ffffff;
  display: flex;
  margin:0;
  padding: 0;
}
.feature-discount{
  padding-top: 0;
  padding-left: 23px;
  padding-right: 140px;
  position: relative;
  background-color: #8ed78f;
  margin-bottom: 20px;
}
.feature-delivery{
  padding-top: 0;
  padding-left: 23px;
  padding-right: 140px;
  position: relative;
  background-color: #ffc047;
}
.feature-discount::after{
  position: absolute;
  content: "";
  top: 26px;
  left: 196px;
  width: 59px;
  height: 72px;
  background: url(../img/icon-discount.svg) no-repeat 0 0;
}
.feature-delivery::after{
  position: absolute;
  content: "";
  top: 32px;
  left: 191px;
  width: 78px;
  height: 63px;
  background: url(../img/icon-delivery.svg) no-repeat 0 0;
}
.open-catalog{
  display: block;
  position: absolute;
  width: 196px;
  height: 29px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  float: left;
  border-radius: 4px;
  background-color: #ee3643;
  margin-top: 206px;
  margin-left: 25px;
}
.open-catalog:hover,
.open-catalog:focus{
  background: #ca2c37;
}
.open-catalog:active{
  background: #ba2732;
}
.popular{
  display: flex;
  flex-direction: row;
  min-height: 85px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-top: 3px;
  position: relative;
}
.popular-2{
  display: flex;
  flex-direction: row;
  min-height: 85px;
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 28px;
  padding-top: 3px;
  position: relative;
  background-color: #f9f5f0;
}
.popular-item{
  font-size: 30px;
  line-height: 30px;
  width: 400px;
  text-transform: uppercase;
  color: #32425c;
}
.popular-man{
  font-size: 30px;
  line-height: 30px;
  width: 400px;
  text-transform: uppercase;
  color: #32425c;
}
.all-popular{
  display: block;
  position: absolute;
  padding-left: 13px;
  padding-top: 10px;
  width: 240px;
  min-height: 28px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  float: left;
  border-radius: 4px;
  background-color: #ee3643;
  top: 25px;
  left: 663px;
  margin: 0;
}
.all-popular:hover,
.all-man:hover,
.all-popular:focus,
.all-man:focus{
  background: #ca2c37;
}
.all-popular:active,
.all-man:active{
  background: #ba2732;
}
.all-man{
  display: block;
  position: absolute;
  padding-left: 13px;
  padding-top: 10px;
  width: 240px;
  min-height: 28px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  float: left;
  border-radius: 4px;
  background-color: #ee3643;
  top: 25px;
  left: 663px;
  margin: 0;
}
.catalog-item{
  display: flex;
  width: 940px;
  margin: 0;
  padding: 0;
}
.card{
  position: relative;
  display: inline-block;
  width: 220px;
  height: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eaeaea;
}
.card .row {
  margin-left: -20px;
}
.card {
  font-size: 0;
}
.card {
  font-size: 16px;
}
.card .flag{
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.card .flag-new {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.card .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}
.card .price {
  position: relative;
  width: 90px;
  min-height: 17px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 25px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.card .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.card .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.card .actions .buy,
.card .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.card .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.card .actions {
  display: none;
}
.card:hover .actions {
  display: block;
}
.catalog-item-image {
  width: 218px;
  height: 168px;
}
.catalog-item .title {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
  font-size: 18px;
}
.catalog-item .price{
  position: absolute;
  left: 43px;
  bottom: 2px;
}
.catalog-item li:hover,
.catalog-item li:focus{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.brands-card{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin-left: -20px;
  width: 960px;
  padding: 0;
  list-style: none;

}
.brands-card li{
  position: relative;
  display: inline-block;
  width: 218px;
  min-height: 145px;
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
}
.brands-card img{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
.brands-card li:hover,
.brands-card li:focus{
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}
.brands-card li:active{
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5)

}
.brands-card li:active{
  opacity: 0.3
}
.news{
  display: flex;
  min-height: 522px;
  margin-top: 60px;
  padding: 0;
  margin-bottom: 80px;
  background-color: #f4f8f9;
}
.service-h{
  width: 940px;
  min-height: 150px;
  padding-top: 38px;
  margin: 0;
  margin-bottom: 50px;

}
.service{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.service-h .description{
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans";
}
.service-list-detail{
  display: flex;
  width: 940px;
  min-height: 183px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

}
.service-list-detail::after{
  position: absolute;
  content: "";
  top:20px;
  left: 469px;
  width: 470px;
  height: 261px;
  background: url(../img/delivery-car.png) no-repeat 0 0;
}
.service-list{
  display: flex;
  flex-direction: column;
  width: 240px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.service-list::after{
  position: absolute;
  background-image: url(../img/delivery-gradient.png);
  background-repeat: no-repeat;
  left: 232px;
  top: -46px;
}

}
.service-list li{
  width: 240px;
  min-height: 60px;
  margin: 0;
  padding: 0;
}
.service-list a{
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum";
  padding-left: 22px;
}
.list a{
  display: block;
  width: 220px;
  height: 45px;
  padding-top: 13px;
  position: relative;
  color: #ffffff;
  border-top: 2px solid #405069;
  border-bottom: 2px solid #293449;
  background-color: #32425c;
}
.list a:hover,
.list a:focus{
  height: 47px;
  padding-top: 15px;
  border: none;
  margin: 0;
  background-color: #293449;
}
.list a:active{
  height: 47px;
  padding-top: 15px;
  color: #32425c;
  border: none;
  background-color: #ffffff;
}
.detail{
  padding-left: 80px;
  padding-top: 0;
}
.detail h2{
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum";
  color: #32425c;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.detail p{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-family: "PT Sans";
  padding-top: 20px;
  margin: 0;
}
.about-contacts{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  width: 940px;
  padding: 0;
  margin: 0;
  margin-bottom: 85px;

}
.about-contacts h2{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum";
  font-weight: lighter;
}
.about-contacts p,
.about-contacts li{
  padding-top: 10px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans";
}
.about-us{
  display: flex;
  flex-direction: column;
  width: 540px;
  padding: 0;
  margin: 0;
  position: relative;
  justify-content: flex-start;
}
.about-us a{
  color: #ffffff;
}
.transport-company{
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
.transport-company a{
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum";
}
.transport-company li{
  display: flex;
  align-items: center;
  text-align: left;

  padding-bottom: 10px;

  margin: 0;
}
.transport-company li::before{
  content: "";
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  margin-right: 10px;
}
.button-about{
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  width: 220px;
  height: 28px;
  padding-top: 10px;
  margin-top: 25px;
  border-radius: 4px;
  text-align: center;
  background-color: #ee3643;
}
.contacts{
  flex-direction: column;
  position: relative;
  width: 300px;

}
.button-map{
  display: inline-block;
  width: 300px;
  height: 158px;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 41px;
}
.button-email{
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  width: 300px;
  height: 28px;
  padding-top: 10px;
  margin-top: 120px;
  border-radius: 4px;
  text-align: center;
  background-color: #ee3643;
}
.button-about:hover,
.button-about:focus,
.button-email:hover,
.button-email:focus{
  background: #ca2c37;
}
.button-about:active,
.button-email:active{
  background: #ba2732
}
.button-map{
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
  width: 300px;
  height: 38px;
  border-radius: 4px;
  text-align: center;
  background-color: #ee3643;
}
.main-footer{
  margin:0;
}
.footer-menu{
  min-height: 140px;
  background-color: #32425c;
  padding-bottom: 55px;
  margin: 0;
}
.main-footer-nav{
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin:0;
}
.main-footer-logo{
  position: absolute;
  left: 0;
  width: 220px;
  height: 68px;
  background-image: url(../img/main-footer-logo.png);
  margin: 0;
  padding: 0;
}
.main-footer-logo a{
  display: block;
  height: 68px;
  padding: 0;
  margin: 0;
  background: url(../img/main-footer-logo.png) 0 0 no-repeat;
}
.main-footer-logo a:hover,
.main-footer-logo a:focus,
.main-footer-logo a:active{
  background-position: 0 -68px;
}
.footer-navigation{
  display: flex;
  width: 720px;
  min-height: 19px;
  margin: 0;
  margin-left: 220px;
  padding: 0;
  padding-top: 40px;
  list-style: none;
  justify-content: flex-end;
  float: right;

}
.footer-navigation li{
  padding-left: 60px;

}
.footer-navigation a{
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  padding:10px 0 10 0;
  margin: 0;
}
.footer-navigation a:hover{
  text-decoration: underline;
}
.footer-navigation a:active{
  opacity: 0.5;
}
.site-navigation-footer{
  display: flex;
  position: absolute;
  top: 35px;
  width: 720px;
  min-height: 19px;
  margin: 0;
  margin-left: 220px;
  padding: 0;
  list-style: none;
  justify-content: flex-end;
}
.site-navigation-footer li{
  padding-left: 56px;
  padding-top: 5px;
}
.site-navigation-footer a{
  display: block;
  text-decoration: none;
  color: #ffd180;
  font-size: 17px;
  line-height: 17px;
  text-align: right;
  padding:10px 0 10 0;
  margin: 0;
  font-stretch: ultra-expanded;
}
.site-navigation-footer a:hover{
  text-decoration: underline;
}
.site-navigation-footer a:active{
  opacity: 0.5;
}
.footer-contacts{
  position: absolute;
  top: 35px;
  left: 0;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-family: "Cuprum";
  font-style: normal;
}
.footer-copyright{
  background-color: #293449;
  min-height: 41px;
  margin: 0;
  padding-bottom: 15px;
}
.container-copyright{
  display: flex;
  font-size: 16px;
  line-height: 18px;
  padding: 0;
  margin: 0;
}
.copyright{
  display: inline-block;
  color: #ffffff;
  text-align: left;
  padding-top: 35px;
  width: 300px;
  margin: 0;
}
.footer-social{
  width: 130px;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 35px;
}
.footer-social li{
  list-style: none;
}
.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #212a3a;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.social-button:hover,
.social-button:focus{
  background-color: #ee3643;
}
.copyright-feedback{
  display: flex;
  flex-direction: row;
  width: 300px;
  text-align: left;
  padding-top: 35px;
  padding-left: 30px;
  margin: 0;
}
.copyright-feedback p{
  color: #ffffff;
}
.copyright-feedback a{
  color: #ffd180;
}
.footer-mail{
  width: 150px;
  padding: 0;
  margin: 0;
}
.copyright-footer {
  width: 150px;
  padding: 0;
  padding-left: 40px;
  margin: 0;
}
/*--------Всплывающие окна---------*/


.modal{
  position: fixed;
  color: #000000;
  border-top: 7px solid #ff5257;

  background-color: #ffffff;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
}

.modal-show {
  display: block;
}

.modal-login{
  display: none;

  top: 120px;
  left: 50%;
  width: 300px;
  padding: 35px 80px;
  margin-left: -230px;
}
.modal-close{
  position: absolute;
  top: 0;
  right: -34px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top:10px;
  left: -35px;
  width: 19px;
  height: 3px;
  background-color: #ee3643;
}
.modal-close::before{
  transform: rotate(45deg);
}
.modal-close::after{
  transform: rotate(-45deg);
}
.modal-login h2{
  margin: 0;
  margin-bottom: 20px;
}
.modal-description{
  margin: 0;
  margin-bottom: 10px;
}
.login-form p{
  margin: 0;
  margin-bottom: 10px;
}
.login-form input[type="text"],
.login-form input[type="password"]{
  box-sizing: border-box;
  width: 300px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #000000;
  border: 1px solid #dee3e4;
  border-radius: 4px;

}
.login-form input:hover{
  border-color: #bdc6ca;
}

.login-icon-user{
  background-image: url(../img/user.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-icon-password{
  background-image: url(../img/lock.svg);
  background-position: 270px center;
  background-repeat: no-repeat;
}
.login-form .login-help {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0;
}
.login-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.login-checkbox:hover,
.login-checkbox:focus {
  color: #293449;
}
.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 2px solid #dee3e4;
  border-radius: 4px;
}
.login-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
  border-color: #b5b5b5;
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 2px;
  background-color: #dee3e4;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  transform: rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  transform: rotate(-45deg);
}
.restore {
  color: #000000;
}
.restore:hover{
  text-decoration: underline;
}
.login-form .button {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum";
  min-height: 38px;
  margin-right: 0;
  background-color: #ee3643;
  border: none;
  border-radius: 4px;
}
.login-form .button:hover,
.login-form .button:focus{
  background-color: #ca2c37;
}
.login-form .button:active{
  background-color: #ba2732;
}
.modal-map {
  display: none;

  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -280px;
  margin-left: -470px;
  border: none;

}
.modal-map p {
  margin: 0;
}
.write-us{
  display: none;

  top: 50%;
  left: 50%;
  width: 460px;
  height: 500px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: -280px;
  margin-left: -310px;
}
.write-us h2{
  margin: 0;
  margin-bottom: 20px;
}
.write-letter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 50px;
  justify-content: space-between;

}
.write-letter label{
  display: block;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  font-family: "Cuprum";
  padding-bottom: 15px;

}
.write-letter input[type="text"]
{
  box-sizing: border-box;
  width: 216px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #a9a9a9;
  border: 1px solid #dee3e4;
  border-radius: 4px;
}
.write-letter input:hover,
.write-letter input:focus,
.write-letter textarea:hover,
.write-letter textarea:focus{
  border-color: #bdc6ca;
}
.write-letter input:active,
.write-letter textarea:active{
  border-color: #ee3643;
}
.textarea-letter{
  display: block;
  width: 458px;
  min-height: 110px;
}
.textarea-letter textarea{

  width: 400px;
  min-height: 110px;
  padding: 10px 15px;
  padding-right: 40px;
  font: inherit;
  color: #a9a9a9;
  border: 1px solid #dee3e4;
  border-radius: 4px;
  margin-bottom: 38px;
}
.write-us .button-letter {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum";
  min-height: 38px;
  margin-right: 0;
  background-color: #ee3643;
  border: none;
  border-radius: 4px;
  margin-top: 38px;
  margin-bottom: 38px;
}
.write-us .button-letter:hover,
.write-us .button-letter:focus{
  background-color: #ca2c37;
}
.write-us .button-letter:active{
  background-color: #ba2732;
}
/*------------------------catalog.htlm-----------------------*/
.breadcrumbs{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 940px;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  margin-top: -60px;
  min-height: 25px;
  font-size: 13px;
  line-height: 18px;
  position: relative;

}
.breadcrumbs a{
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
.breadcrumbs li{
  list-style: none;
  display: inline-block;
  margin: 0;
}
.home{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 12px;
}
.home a{
  display: block;
  height: 14px;
  padding: 0;
  margin: 0;
  background: url(../img/icon-home.svg) no-repeat 0 0;
}
.breadcrumbs li:first-child::before {
  content: '';
  position: absolute;
  left: 28px;
  top: 24px;
  width: 7px;
  height: 12px;
  background: url(../img/icon-right-small.svg) no-repeat 0 0;
}
.breadcrumbs li:first-child::after {
  content: '';
  position: absolute;
  left: 124px;
  top: 24px;
  width: 7px;
  height: 12px;
  background: url(../img/icon-right-small.svg) no-repeat 0 0;
}
.breadcrumbs li:last-child:before {
  content: '';
  position: absolute;
  left: 244px;
  top: 24px;
  width: 7px;
  height: 12px;
  background: url(../img/icon-right-small.svg) no-repeat 0 0;
}
.navigation-catalog li{
  padding-left: 15px;
  padding-right: 35px;
}

.calalog-header{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
  font-family: "Cuprum";
  margin:0;
  padding-top: 33px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #f2f6f8;
}

.side-left-top {
  float: left;
  width: 220px;
  position: relative;
  margin:0;
}
.side-left h3 {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  display: block;
  padding: 0 0 10px;
}
.side-right-top,
.side-left-top{
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans";
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0;
  padding: 0;

}
.side-left-top{
  width: 182px;
  min-height: 10px;
  padding: 10px 19px 10px 19px;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 18px;
  background-color: #f7f3ec;
}
.catalog-columns{
  display: flex;
  position: relative;
  width: 940px;
  padding: 0;
  margin: 0;
  justify-content: space-between;

}
.side-right{
  display: flex;
  position: relative;
  width: 700px;
  justify-content: space-between;
}
.catalog-filters{
  display: flex;
  flex-direction: column;
  width: 220px;
  padding: 0;
  margin: 0;
}
.price-range h3{
  display: flex;
  flex-direction: column;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  width: 220px;
  padding: 0;
  margin: 0;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 10px;
  margin-top: 17px;
  padding: 0 30px;
  background: #f7f3ec;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background: #d7dcde;
}
.range-controls .bar {
  height: 2px;
  background: #00ca74;
  width: 70%;
}
.range-controls .toggle {
  width: 4px;
  height: 4px;
  border: 8px solid white;
  background: #ababab;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  border-radius: 50%;
  -moz-box-shadow: 0 2px 1px 0 #cfcfcf;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle {
  left: 145px;
}
.price-controls input {
  width: 85px;
  padding: 10px 5px;
  margin:0;
  border: none;
  background: #f7f3ec;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans";
  text-align: center;
  color: #000000;
  border-radius: 4px;
}
.price-controls .min-price,
.price-controls.max-price{
  margin-right: 0;
}

.form-sep{
  position: absolute;
  width: 7px;
  top: 190px;
  left: 99px;
  padding-left: 1px;
  padding-right: 1px;
  margin:  0;
}
.price-controls {
  display: flex;
  white-space: nowrap;
  width: 220px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.price-range{
  display: block;
  width: 220px;
  margin: 0;
  padding: 0;
  color: #000000;
}

.filter{
  width: 220px;
  padding: 0;
  margin: 0;
  color: #000000;
}
.filters{
  width: 220px;
  padding: 0;
  margin-left: -2px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans"
  font-weight: lighter;
  text-transform: uppercase;
  color: #000000;
}

.filters legend{
  text-decoration: none;
  margin-top: 42px;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.filter-option-left{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}
.filter-option{
  margin-bottom: 19px;
  padding-left: 38px;

}
.filter-option label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before{
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
}
.filter-input-checkbox:checked + label::after{
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
}
.filters legend::before {
  content: "";
  width: 220px;
  height: 1px;
  background: #e5e5e5;
  left: 0;
  position: absolute;
  top: 245px;
}
.power-type{
  width: 220px;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans"
  font-weight: lighter;
  text-transform: uppercase;
}

.power-type legend{
  text-decoration: none;
  margin-top: 39px;
  margin-bottom: 13px;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
.radioselect{
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 21px;
}
.radiobutton{
  margin-bottom: 19px;
  padding-left: 38px;

}
.radiobutton label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radiobutton + label::before{
  content: "";
  position: absolute;
  left: -38px;
  top: -1px;
  width: 25px;
  height: 25px;

  background-image:  url(../img/radio-off.svg);
}
.filter-input-radiobutton:checked + label::after{
  content: "";
  position: absolute;
  top: -1px;
  left: -38px;
  width: 25px;
  height: 25px;

  background-image:  url(../img/radio-on.svg);
}
.power-type legend::before {
  content: "";
  width: 220px;
  height: 1px;
  background: #e5e5e5;
  left: 0;
  position: absolute;
  top: 505px;
}
.filter-button{
  width: 140px;
  height: 36px;
  padding-left: 10px;
  margin-top: 60px;
  margin-left: 0;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: lighter;
  background: none;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}
.catalog-inner{
  display: flex;
  flex-wrap: wrap;
}
.catalog-item-inner{
  width: 716px;
  margin-left: -40px;
  margin-top: 0;
}
.card-inner{
  position: relative;
  display: inline-block;
  width: 218px;
  height: 318px;
  margin-right: 12px;
  vertical-align: top;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #eaeaea;
}
.card-inner .row {
  margin-left: -12px;
}
.card-inner {
  font-size: 0;
}
.card-inner {
  font-size: 16px;
}
.card-inner .flag{
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}
.card-inner .flag-new {
  background: url(../img/new-flag.png) no-repeat 0 0;
}

.card-inner .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}
.card-inner .price {
  position: relative;
  width: 90px;
  min-height: 17px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 25px;

  color: white;
  background: #ee3643;
  border-radius: 3px;
}
.card-inner .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}
.card-inner .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}
.card-inner .actions .buy,
.card-inner .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}
.card-inner .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}
.card-inner .actions {
  display: none;
}
.card-inner:hover .actions {
  display: block;
}
.card-inner .title{
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 0 25px;
  font-size: 18px;
}
.catalog-item-image {
  width: 218px;
  height: 168px;
}
.card-inner .price{
  position: absolute;
  left: 43px;
  bottom: 2px;
}

.top-filters {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 684px;
  min-height: 38px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0;
  text-decoration: none;
  font-weight: lighter;
  border-radius: 4px;
  float: right;

  margin-bottom: 20px;
  background-color: #f7f3ec;
}
.top-filters li{
  list-style: none;
  display: inline-block;
  padding:0;
  margin:0;
}
.top-filters a{
  text-decoration: none;
  text-transform: uppercase;
  padding:0;
  margin:0;
}


.side-right-top{
  position: relative;
  margin:0;
  padding-top: 10px;
}
.sort{
  flex-wrap: nowrap;
  width: 470px;
  margin-left: 60px;
  text-align: left;
  padding-left: 20px;
  padding-top: 0;

}
.sort li{
  display: inline-block;
  margin: 0;
  text-align: right;
  margin-left: 60px;
}
.sort-up-down{
  position: absolute;
  left: 580px;
  top: 12px;
  padding: 0;
  margin: 0;
}
.sort-option{
  color: #cacaca;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  padding: 0;
  margin: 0;
}
.sort-option:hover,
.sort-option:focus{
  color: #000000;
  border-bottom: 1px solid #ee3643;
}
.sort-option:active{
  color: #ee3643;
  border-bottom: none;
}
.sort-arrow{
  display: flex;
  position: relative;
  width: 43px;
  height: 10px;
  font: 0/0 a;
  padding: 0;
  margin: 0;

}
.sort-arrow a{
  display: block;
  width: 11px;
  height: 10px;
  padding: 0;
  margin: 0;
  background: url(../img/icon-up-dir.svg) no-repeat 0 0;
}
.sort-arrow a:hover,
.sort-arrow a:focus{
  background: url(../img/icon-up-dir-activ-hover.svg) no-repeat 0 0;
}
.sort-arrow a:active{
  background: url(../img/icon-up-dir-activ.svg) no-repeat 0 0;
}
.sort-arrow span{
  display: block;
  position: absolute;
  cursor: pointer;
  left: 30px;
  width: 11px;
  height: 10px;
  padding: 0;
  margin: 0;
  background: url(../img/icon-down-dir.svg) no-repeat 0 0;
}

/*
.home{
  position: absolute;
  width: 14px;
  height: 14px;
  left: 0;
  top: 12px;
}
.home a{
  display: block;
  height: 14px;
  padding: 0;
  margin: 0;
  background: url(../img/icon-home.svg) no-repeat 0 0;
}
*/



.pagination-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 300px;

}
.pagination-item{
  margin-right: 5px;
  }
.pagination-item:last-child {
  margin-right: 0;
}
.pagination-list a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  font-weight: lighter;
  font-family: "PT Sans";
  color: #000000;
  width: 36px;
  height: 28px;
  padding-top: 8px;
  padding-bottom: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: -7px;
}
.pagination-list li{
  margin-right: 10px;
}
.pagination-list .pagination-item-last {
  display: block;
  width: 140px;
  text-transform: uppercase;
  height: 28px;
  padding-top: 7px;
  padding-bottom: 0;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin-top: -7px;
}
.pagination-list a:hover,
.pagination-list a:focus{
  border: 1px solid #bdc6ca;
}
.pagination-list a:active{
  border: 1px solid #ee3643;
}
.pagination-list a:checked{
  border: none;
  background-color: #ee3643;
}
.info{
  display: flex;
  min-height: 260px;
  margin-top: 60px;
  padding: 0;
  background-color: #f2f6f8;
}
.info-con{
  font-size: 30px;
  line-height: 30px;
  padding-top: 65px;
  margin: 0;
}
.info p{
  font-size: 13px;
  line-height: 24px;
  padding-top: 10px;
}
